__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
instance/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
./app/node_modules
