
body {
	background: black;
	font-size: 150%;
	padding: 3rem;
	
}
  
h1 {
	color: white;		
}

textarea {
	caret-color: green !important;
	color: green !important;
	background-color: black; 
	border: 1px solid white !important;	
	resize: none;
}

textarea:focus-visible {
	outline: -webkit-focus-ring-color none !important;
}

.input-wrapper {
	margin-left: 80px;
}